<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='juxi.min.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='juxi.png') }}">
    <title>{% block title %}{% endblock title %}Juxi 🦎</title>
</head>
<body class="font-sans antialiased text-gray-700 min-h-screen bg-emerald-100">
<div id="app">
    <header class="w-full border-solid border-b-4 border-emerald-300 bg-emerald-200">
        <nav class="max-w-4xl mx-auto">
            <a href="{{ url_for('home') }}" class="inline-block">
                <h1 class="inline-block hover:bg-emerald-300 p-2">
                    <img class="inline-block size-24 align-top" src="{{ url_for('static', filename='juxi.png') }}" alt="🦎"/>
                    <span class="text-8xl uppercase font-bold align-middle">juxi</span>
                </h1>
            </a>
        </nav>
    </header>
    <main class="max-w-4xl mx-auto min-h-screen bg-emerald-50 p-6">

        {% block main %}{% endblock main %}
    </main>
    <footer class="w-full border-solid border-t-4 border-emerald-300 bg-emerald-200">
        <p class="max-w-4xl mx-auto">
            © Mark 🐍 code at <a href="https://github.com/mverleg/juxi" class="underline hover:bg-fuchsia-400 focus:bg-fuchsia-400">github.com/mverleg/juxi</a>{% block footer %}{% endblock footer %}
        </p>
    </footer>
</div>
<script src="{{ url_for('static', filename='juxi.js') }}"></script>
</body>
</html>
