<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='juxi.min.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='juxi.png') }}">
    <title>Juxi 🦎</title>
</head>
<body class="font-sans antialiased text-gray-600 min-h-full bg-emerald-50">
<div id="app">
    <header class="w-full border-solid border-b-2 border-emerald-200  bg-emerald-100">
        <nav class="max-w-xl mx-auto py-3">
            <a href="/" class="hover:bg-emerald-600">
                <h1 class="font-bold uppercase">
                    <img class="inline size-24" src="{{ url_for('static', filename='juxi.png') }}" alt="🦎"/>
                    <span class="text-xl">juxi</span>
                </h1>
            </a>
        </nav>
    </header>
    <main class="max-w-xl mx-auto flex">
        <h1 class="text-xl">Welcome to <span class="uppercase">juxi</span></h1>
    </main>
    <footer></footer>
</div>
<script src="{{ url_for('static', filename='juxi.js') }}"></script>
</body>
</html>
