{% extends 'base.html' %}

{% load jx_time %}

{% block main %}
    <h1 class="text-3xl">Welcome to juxi, <span class="font-bold">{{ user }}</span></h1>

    {% with url_cls='class="hover:bg-emerald-200"' %}
    <table class="jx-table table-auto min-w-full text-left">
    <thead>
        <tr class="border-b border-neutral-200 font-medium">
            <th>series</th>
            <th>schedule</th>
            <th>previous</th>
            <th>next</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for details in task_overview %}
        <tr class="border-b border-neutral-200">
            <td><a {{ url_cls }} href="{{ details.series_url }}">{{ details.series.name }}</a></td>
            <td><a {{ url_cls }} href="{{ details.schedule_url }}">{{ details.schedule.freq_description }}{% if details.schedule.every_nth > 1 %}s{% endif %}</a></td>
            {% if details.previous %}
                <td title="{{ details.previous.start_at }}"><a {{ url_cls }} href="{{ details.previous_url }}">{{ details.previous.start_at | short_time }} ({{ details.previous.start_at | time_diff }})</a></td>
            {% else %}
                <td>not run yet</td>
            {% endif %}
            <td title="{{ details.next }} ({{ details.next.tzname }})">{{ details.next | short_time }} ({{ details.next | time_diff }})</td>
            <td>
            <form method="POST" action="{% url 'task_run' series_id=details.series.id %}">
                {{ form.as_div }}
                {% csrf_token %}
                <button tabindex="3" type="submit" class="text-white bg-emerald-400 hover:bg-fuchsia-400 focus:ring-1 focus:outline-none focus:ring-fuchsia-400 font-medium rounded-lg text-sm sm:w-auto px-1 text-center">run</button>
            </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endwith %}
{% endblock main %}

