{% extends 'base.html' %}

{% load jx_time %}

{% block main %}
    <h1 class="text-3xl">Welcome to juxi, <span class="font-bold">{{ user }}</span></h1>

    {% with url_cls='class="hover:bg-emerald-200"' %}
    <form method="POST" action="{% url 'task_run' %}">
    <table class="jx-table table-auto min-w-full text-left">
    <thead>
        <tr class="border-b border-neutral-200 font-medium">
            <th><a {{ url_cls }} href="{% url 'admin:juxi_taskseries_changelist' %}">series</a></th>
            <th><a {{ url_cls }} href="{% url 'admin:juxi_schedule_changelist' %}">schedule</a></th>
            <th><a {{ url_cls }} href="{% url 'admin:juxi_taskrun_changelist' %}">previous</a></th>
            <th>next</th>
        </tr>
    </thead>
    <tbody>
    <form method="POST" action="{% url 'task_run' %}">
    {% for details in task_overview %}
        <tr class="border-b border-neutral-200">
            <td><a {{ url_cls }} href="{{ details.series_url }}">{{ details.series.name }}</a></td>
            <td><a {{ url_cls }} href="{{ details.schedule_url }}">{{ details.schedule.freq_description }}{% if details.schedule.every_nth > 1 %}s{% endif %}</a></td>
            {% if details.previous %}
                <td title="{{ details.previous.start_at }}"><a {{ url_cls }} href="{{ details.previous_url }}">{{ details.previous.start_at | short_time }} ({{ details.previous.start_at | time_diff }})</a></td>
            {% else %}
                <td>not run yet</td>
            {% endif %}
            <td title="{{ details.next }} ({{ details.next.tzname }})">
                <button type="submit" name="series_id" value="{{ details.series.id }}"
                        class="text-white bg-emerald-400 hover:bg-fuchsia-400 focus:ring-1 focus:outline-none focus:ring-fuchsia-400 font-medium rounded-lg text-sm sm:w-auto px-1 text-center">
                    run
                </button>
                {{ details.next | short_time }} ({{ details.next | time_diff }})
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% csrf_token %}
    </form>
    {% endwith %}
{% endblock main %}

